body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-menu{
    flex: 3;
    display: flex;
    flex-direction: row;
}

.side-menu .menu{
    background: darkorange;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-menu .menu div{
    background-color: dodgerblue;
    width: 60px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.side-menu .actions{
    background-color: darkviolet;
    flex: 2;
    overflow: auto;
}

.content{
    flex: 7;
    background: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.action-image-container{
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

.action-image-container-delete{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    right: 0px;
    top: 0px;
}

.action-images-importer {
    display: none;
}

.action-import-images-button {
    width: 60px;
    height: 30px;
    background-color: #271bd3;
    cursor: pointer;
}

.action-file-create-button {
    width: 50px;
    height: 28px;
    background-color: red;
    cursor: pointer;
}

.action-sticker{
    width: 50px;
    height: 50px;
    background-color: green;
}