body{
    padding: 0px;
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-menu{
    flex: 3;
    display: flex;
    flex-direction: row;
}

.side-menu .menu{
    background: #797979;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.side-menu .menu div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 20%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.side-menu .menu div.active {
    background-color: #515151;
}

.side-menu .menu div svg {
    width: 40px;
    height: 40px;
    fill: #c9c9c9;
}

.side-menu .actions{
    background-color: #515151;
    flex: 2;
    overflow: auto;
}

.side-menu .action-file-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.side-menu .action-file-container h3{
    color: #ebebeb;
}

.content{
    flex: 7;
    background: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-images {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.action-image-container{
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

.action-image-container-delete{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    right: 0px;
    top: 0px;
}

.action-images-importer {
    display: none;
}

.action-import-images-button {
    width: 60px;
    height: 30px;
    background-color: #271bd3;
    cursor: pointer;
}

.action-file-create-button {
    width: 50px;
    height: 28px;
    background-color: red;
    cursor: pointer;
}

.action-sticker{
    width: 50px;
    height: 50px;
    background-color: green;
}


/* OVERRIDE HUBERT STYLES */

.content #view {
    height: 80%;
    width: 80%;
}