/* Hooks */
i.hook {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    
    background-color: white;
    cursor: pointer;
}

.hook-rotate {
    bottom: -21px;
    right: 48%;
}

.hook-move {
    position: absolute;
    cursor: move;
}

.hook-resize {
    bottom: -21px;
    right: -21px;
}

.hook-delete {
    top: 0;
    right: 0;
}
/* End hooks */