/* Image container */
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 300px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-position: center;
  background-size: 100% 100%;
  border: 1px solid black;
  cursor: move; }
