
.test {
    background-color: green;
    position: absolute;
    top: 0; 
    right: 0;

    .test-content {
        width: 100px;
        height: 50px;
    }
}

/* Whole layout */
#main-container {
    width: 90vw;
    height: 90vh;
}

/* Editable page */
.page-container {
    position: relative;   
    overflow: hidden; 

    border: 1px solid black;
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: space-evenly;
}

button.rounded-button {
    padding: 10px 20px;
    margin: 0 5px;
    
    background-color: #f0f0f0;
    background-image: none;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 200ms;

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }

    &:hover {
        background-color: #ddd;
    }
}