/* HEADER */
header {
  position: relative;
  height: 70px;
  z-index: 1;
  width: 100%;
  background-color: #515151;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2px 15px -2px black;
          box-shadow: 0 2px 15px -2px black; }
  header button {
    display: block;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: 200ms;
    transition: 200ms; }
    header button i.material-icons {
      font-size: 32px;
      color: #ddd; }
    header button.rotate {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  header input[type=text] {
    width: 400px;
    margin-left: 24px;
    padding: 8px 16px;
    font-size: 16px;
    color: #eee;
    background-color: #777;
    border: none;
    border-radius: 5px;
    outline: none; }
    header input[type=text]::-webkit-input-placeholder {
      color: #bbb; }
    header input[type=text]:-ms-input-placeholder {
      color: #bbb; }
    header input[type=text]::-ms-input-placeholder {
      color: #bbb; }
    header input[type=text]::placeholder {
      color: #bbb; }

.test {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 150px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px -5px black;
          box-shadow: 0 5px 20px -5px black; }

#color {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

/* Whole layout */
#view {
  position: relative; }

/* Editable page */
.page {
  position: absolute;
  overflow: hidden;
  background: white;
  background-position: center;
  background-size: cover;
  border: 1px solid black; }

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

button.rounded-button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #f0f0f0;
  background-image: none;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms; }
  button.rounded-button:first-child {
    margin-left: 0; }
  button.rounded-button:last-child {
    margin-right: 0; }
  button.rounded-button:hover {
    background-color: #ddd; }
  button.rounded-button:active {
    background-color: #ccc; }
