/* General */ 
*{
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Common classes */


/* Flex */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-h-center {
    align-items: center;
    justify-content: center;
}

.size-fill-parent {
    width: 100%;
    height: 100%;
}

.flex-grow-1 { 
    flex-grow: 1;
}

.flex-grow-8 { 
    flex-grow: 8;
}
/* End flex */

/* Hooks */
i.hook {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    
    background-color: white;
    cursor: pointer;
}

.hook-rotate {
    bottom: -21px;
    right: 48%;
}

.hook-move {
    position: absolute;
    cursor: move;
}

.hook-resize {
    bottom: -21px;
    right: -21px;
}

.hook-delete {
    top: 0;
    right: 0;
}
/* End hooks */

.add-image-button-container {
    position: absolute;
}

button.circle-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f0f0f0;
    background-image: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        background-color: #ddd;
    }
}


/* Whole layout */
#main-container {
    width: 90vw;
    height: 90vh;
}


/* Photos list */
.photos-list {
    width: 20%;

    #file-selection {
        display: none;
    }

    #file-selection-label {
        display: inline-block;

        background-color: red;
    }
}

/* Editable page */
.page-container {
    position: relative;   
    overflow: hidden; 

    border: 1px solid black;
}

/* Image container */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
    min-width: 50px;
    min-height: 50px;
    
    background-image: url("../images/example.png");
    background-position: center;
    background-size: 100% 100%;
    border: 1px solid black;
    cursor: move;
}

/* Textbox */
.textbox-container {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;

    input[type=text] {
        width: auto;
        padding: 10px; 
        
        font-size: 16px;
        border: 2px dashed #666;
        outline: none;
        background-color: transparent;
        cursor: move;
        transition: 300ms;

        &:focus {
            border: 2px solid skyblue;
        }
    }

    ul.textbox-tools {
        margin: 0;
        padding: 0;
        max-height: 0;
        display: flex;
        align-items: center;
        
        background-color: white;
        list-style: none;
        opacity: 0;
        transition: 300ms;
        
        li {
            margin: 0 3px;
            cursor: pointer;

            i {  
                width: 20px;
                height: 20px;
                font-size: 20px;
            }

            input[type=color] {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            opacity: 1!important;
        }
    }

    &:hover {
        ul {
            max-height: 30px;
            opacity: .3;
        }
    }
}
/* End of textbox */

.test {
    background-color: red;
    position: absolute;
    top: 0; 
    right: 0;

    .test-content {
        background-color: green;
        width: 100px;
        height: 50px;
    }
}

.add-object-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}