/* General */ 
*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    width: 10px;
    background-color: #797979;
}

::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 20px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Flex */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-h-center {
    align-items: center;
    justify-content: center;
}

.size-fill-parent {
    width: 100%;
    height: 100%;
}

.flex-grow-1 { 
    flex-grow: 1;
}

.flex-grow-8 { 
    flex-grow: 8;
}

@media screen and (max-width: 980px) {
    .mobile-banned {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        background-image: url('../pics/zbigniew.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #414141;
    }

    .container, .header {
        display: none;
    }
}
/* End flex */
