/* General */ 
*{
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Common classes */

/* Flex */
.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-v-center {
    align-items: center;
}

.flex-h-center {
    justify-content: center;
}

.flex-v-h-center {
    align-items: center;
    justify-content: center;
}

.size-fill-parent {
    width: 100%;
    height: 100%;
}

.flex-grow-1 { 
    flex-grow: 1;
}

.flex-grow-8 { 
    flex-grow: 8;
}
/* End flex */

.manipulator {
    position: absolute;
    margin: 1px;
    
    background-color: white
}

.manipulator-rotate {
    bottom: -14px;
    right: 48%;
    cursor: pointer;
}

.manipulator-move {
    position: absolute;
    cursor: move;
}

.manipulator-resize {
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.add-image-button-container {
    position: absolute;
}


/* Whole layout */
#main-container {
    width: 90vw;
    height: 90vh;
}


/* Photos list */
.photos-list {
    width: 20%;

    #file-selection {
        display: none;
    }

    #file-selection-label {
        display: inline-block;

        background-color: red;
    }
}

/* Editable page */
.page-container {
    position: relative;   
    overflow: hidden; 

    border: 1px solid black;
}

/* Image container */
.image-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
    
    background-image: url("../images/example.png");
    background-position: center;
    background-size: 100% 100%;
    border: 1px solid black;

    button {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #f0f0f0;
        background-image: none;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 200ms;

        &:hover {
            background-color: #ddd;
        }
    }
}